<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442356261632-auapud2sddvnk0ugou8domqphbjqcc5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442356261632-auapud2sddvnk0ugou8domqphbjqcc5k</string>
	<key>API_KEY</key>
	<string>AIzaSyBqP-awVk3o1suJaDlh0MOXwo64vNgl884</string>
	<key>GCM_SENDER_ID</key>
	<string>442356261632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aarontreinish.AnimeList</string>
	<key>PROJECT_ID</key>
	<string>anime-reference</string>
	<key>STORAGE_BUCKET</key>
	<string>anime-reference.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442356261632:ios:6c7a5403c53b8c21e449e5</string>
	<key>DATABASE_URL</key>
	<string>https://anime-reference.firebaseio.com</string>
</dict>
</plist>